@model Book

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<p>Автор: <b>@Model.Author</b></p>
<p>Описание: @Model.Description</p>
<p>Цена: <b>@Model.Price</b></p>
<form action="@Url.Action(action: "AddItem", "Order")" method="post">
    <input type="hidden" name="id" value="@Model.Id"/>
    <button class="btn btn-success" type="submit">Добавить в корзину</button>
</form>
