@using Bookstore.Web.Controllers
@model Form

@{
    ViewData["Title"] = "Параметры оплаты";
}

<h1>Параметры оплаты</h1>
<form action="@Url.Action(nameof(OrderController.NextPayment))" method="post">
    <input type="hidden" name="id" value="@Model.OrderId">
    <input type="hidden" name="uniqueCode" value="@Model.UniqueCode">
    <input type="hidden" name="step" value="@Model.Step">
    @foreach (Field field in Model.Fields) {
        if (field is HiddenField hiddenField) {
            <input type="hidden" name="values[@hiddenField.Name]" value="@hiddenField.Value">
        } else if (field is SelectionField selectionField) {
            <div class="form-group">
                <label for="values[@field.Name]">@selectionField.Name</label>
                <select class="form-control" name="values[@selectionField.Name]">
                    @foreach ((string key, string value) in selectionField.Items) {
                        <option value="@key">@value</option>
                    }
                </select>
            </div>
        }
    }
    <button type="submit" class="btn btn-success">Далее</button>
</form>


